@import "tailwindcss";

@font-face {
  font-family: FiraSans;
  src: url('FiraSans-Regular.woff2');
}

@font-face {
  font-family: ZenKakuGothicAntique;
  src: url('ZenKakuGothicAntique-Regular.ttf');
}

html {
  font-family: FiraSans, ZenKakuGothicAntique;
  color-scheme: dark;
}

.shadow-even {
  box-shadow: 0 0 5px 0px var(--tw-shadow-color);
}

.drop-shadow-even {
  filter: drop-shadow(0 0 5px var(--tw-drop-shadow-color));
}

.slim-scrollbar::-webkit-scrollbar {
  width: 0.25rem;
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.25rem;
  margin: 0.5rem 0 0.5rem 0;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff18;
  border-radius: 0.25rem;
}
