@import "tailwindcss";

@font-face {
  font-family: FiraSans;
  src: url("FiraSans-Regular.woff2");
}

@font-face {
  font-family: ZenKakuGothicAntique;
  src: url("ZenKakuGothicAntique-Regular.ttf");
}

html {
  font-family: FiraSans, ZenKakuGothicAntique;
  color-scheme: dark;
}

@theme {
  --shadow-even: 0 0 5px 0px red;
  --drop-shadow-even: 0 0 5px red;
  --color-separator: rgba(255 255 255 / 0.15);
}

.slim-scrollbar::-webkit-scrollbar {
  width: 0.25rem;
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.25rem;
  margin: 0.5rem 0 0.5rem 0;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-separator);
  border-radius: 0.25rem;
}

.CodeMirror {
  background-color: transparent !important;
  height: auto !important;
  font-family: Consolas, monospace !important;
}

.CodeMirror-wrap pre {
  word-break: break-word;
}

.field-preview {
  ol {
    padding-left: 1.25rem;
    list-style-type: decimal;
    list-style-position: outside;
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: circle;
    list-style-position: outside;
  }
}
